
  .left-item-jobsLanding {
    flex: 1;
    padding-right: 1rem;
    max-width: 100%;
    justify-content: flex-start;
  }

  .about-text-jobsLanding{
    font-family: 'Playfair Display', serif;
    max-width: 80%;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .job-listing {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px auto;
    max-width: 800px;
  }
  
  .job-listing-header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
 
  .job-card {
    width: 45%;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    background-color: whitesmoke;
  }
  
  .job-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px auto;
    max-width: 800px;
  }